# ip:host of zookeeper instances (partitions)
ZOOKEEPERS=127.0.0.1:2181/127.0.0.1:2182

# ip:hostof zookeeper that holds the logs and results
ZKADMIN=127.0.0.1:2181

# flattening factor (when path length is divisible by flattening factor, perform a flattening operation)
FLATTENING_FACTOR=1

# reduction factor (how many instances to remove during a flattening operation)
REDUCTION_FACTOR=1